@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --texts-apart-font-family: Verdana, Geneva, Tahoma, sans-serif;
    --h1-header-font-family: 'Passion One', cursive;
    --cordel-font-family: 'Sriracha', cursive;
}

header {
    background-color: black;
    color: white;
    text-align: center;
    width: 100%;
    padding: 50px 0;
}

header h1 {
    font-family: var(--h1-header-font-family);
    font-size: 10vw;
}

header > h1 > span {
    font-size: 7vw;
}

header blockquote {
    font-family: var(--texts-apart-font-family);
}

header a {
    color: white;
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
}

main section {
    color: black;
    font-family: var(--cordel-font-family);
    font-size: 3.5vw;
    line-height: 7vw;
    padding: 60px 30px;
}

.white-background {
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.7);
    position: relative;
}

.white-background p {
    margin-bottom: 35px;
}

.image-background p {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-shadow: 1px 2px 0 black;
    width: 50%;
    padding: 10px;
}

#background001 {
    background: black url(/images/background001.jpg) right center no-repeat fixed;
    background-size: cover;
}

#background002 {
    background: black url('/images/background002.jpg') left center no-repeat fixed;
    background-size: cover;
}

footer {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    text-decoration: underline;
}
